params {

	bwa_index          = false
	help         	    = false
	monochrome_logs     = false
	outdir 			    = './results'
	cpus                = 6
	version             = '1.0.0'
	publish_dir_mode    = 'copy'

	name = false
	multiqc_config = false
	email = false
	email_on_fail = false
	max_multiqc_email_size = 25.MB
	plaintext_email = false
}

